body{
    display: flex;
    justify-content: center;
}
h1{
    display: flex;
}
header{
    display: flex;
}
.cform{

    background-color: gainsboro;
    border-radius: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}
.inner{
    display: inline-block;
    }
.contentarea{
    width: 80%;
    height: 100px;
}
.membertext{
    width: 80%;
}